<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
    <div class="wrapper">
        <div class="site-head__inner">
            <a href="/" aria-label="Alan Cole's Music Website" class="site-head__brand">
                {% include "partials/brand.html" %}
            </a>
            <nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary">
                <ul class="nav__list">
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/sketchbook">sketchbook</a>
                    </li>
                    <li>
                        <a href="/recordings">recordings</a>
                    </li>
                    <li>
                        <a href="/lessons">lessons</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>